@charset "UTF-8";
  
 /*
   borda - box-shadow: 1px 2px 2px 2px var(--cor5);
  Em HTML e `id´ } Em CSS e ´#´
  Em HTML e `class´ } Em CSS e `.´

 linha 10 = copiar e colar para fazer cometario mais rapido
 padding = largura
 marding= altura
*/ 

 /**/

:root{
    --cor0: #e6ffff;
    --cor1: #a9ffff;
    --cor2: #23EAE9;
    --cor3: #2eb2ff;
    --cor4: #02199b;
    --cor5: #000000;
    
    --fonte-padrao: normal 25px Arial;
}
body{
    background-image: linear-gradient(rgb(193, 255, 245) rgb(198, 251, 255));
    font-family: Nerko One, Arial;    
    font-size: 25px;
    background-position: center;
    padding: 10px;
    margin: 10px;
}

main{
    margin: auto;
    background-color: #dcffff;
    border-radius: 10px;
    padding: 100px;
    margin: 200px;
}



  /* inicio do site titulo*/

  img#imgt1{
    display: flex;
    width: 400px;
    margin: auto;
  }
h1#titulo1{
    text-align: center;
    border-radius: 150px;
    padding: 10px;

}

nav{
    text-align: center;
    padding: 15px;
    border-radius: 150px;   
    background-color: var(--cor1);
}

nav > a {
    color: #000000;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .7s;
}

nav  > a:hover{
    background-color: #23EAE9;
    border-radius: 10px;
}
p#cb{
    background-image: linear-gradient(45deg, var(--cor3), var(--cor1));
    text-align: center;
    border-radius: 50px;
    margin: auto;
    padding: 10px;
}
     /* Imagens dos projetos*/

img#p1{
    background-color: var(--cor0); 
    border-radius: 150px;
    padding: 25px;
    margin: 20px;
    box-shadow: 2px 2px 2px 2px var(--cor0);
}

img#p2{
    background-color: var(--cor0); 
    border-radius: 150px;
    padding: 25px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px var(--cor0);
}
   /* Texto explicando um pouco dos projetos*/

#p1{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

#p2{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
} 

  /* personalização dos textos*/

p#p1{
    background-color: lightskyblue;
    text-align: center;
    border-radius: 150px;
    padding: 30px;
    margin: 30px;
    margin: auto;
   }

p#p2{
    background-color: lightskyblue;
    text-align: center;
    border-radius: 150px;
    padding: 100px;
    margin: 100px;
   }
   
    /*Outros*/

p#o1{
    text-align: center;
}

footer{
    background-image: linear-gradient(90deg, var(--cor3), var(--cor1));
    text-align: center;
    border-radius: 100px;
    padding: 2px;
    margin: 5px;
}