@charset "UTF-8";

/*
   borda - box-shadow: 1px 2px 2px 2px var(--cor5);
  Em HTML e `id´ } Em CSS e ´#´
  Em HTML e `class´ } Em CSS e `.´

 linha 10 = copiar e colar para fazer cometario mais rapido
 padding = largura
 marding= altura
*/ 

 /**/

 :root{
    --cor0: #e6ffff;
    --cor1: #a9ffff;
    --cor2: #23EAE9;
    --cor3: #2eb2ff;
    --cor4: #02199b;
    --cor5: #000000;
    
    --fonte-padrao: normal 25px Arial;
}

body{
    font-family: Nerko One, Arial;    
}


main{
margin: auto;
background-color: #dcffff;
border-radius: 10px;
padding: 100px;
margin: 200px;
}



nav{
    text-align: center;
    padding: 15px;
    border-radius: 150px;   
    background-color: var(--cor1);
}

nav > a{
    color: #000000;
    font-size: 50px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .7s;
}

nav > a:hover{
    background-color: #23EAE9;
    border-radius: 10px;
}

p#h1{
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    
}

div#h101 > img{
    display: flex;
    width: 400px;
    margin: auto;
  }

div#h101 > h1#h101{
    text-align: center;
    font-size: 40px;
}
